.shoppingfeed-manager-listing-action .data-grid .data-grid-actions-cell {
    position: static !important;
}

.action-menu-item._off-selection {
    text-decoration: line-through;
}

.admin__sfm-fieldset .admin__field-note {
    margin: -5px 0 0;
    line-height: 2;
    white-space: pre-line;
}

.admin__sfm-nested-fieldset .admin__fieldset {
    padding-top: 0;
    padding-bottom: 0;
}

.admin__sfm-fieldset .admin__dynamic-rows .admin__field-label {
    display: none;
}

.admin__sfm-fieldset .admin__dynamic-rows.admin__control-table {
    width: auto;
}

.admin__sfm-feed-product-sections-table td,
.admin__sfm-feed-product-sections-table th {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.admin__sfm-feed-product-sections-table tbody td {
    vertical-align: middle;
}

.admin__sfm-feed-product-sections-table td:first-child {
    font-weight: bold;
}

.admin__sfm-no-wrap {
    white-space: nowrap;
}

select[name^=sfm_feed_attributes] option:empty,
#sfm_feed_product_grid .data-grid-filters option:empty {
    display: inherit;
}
