<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="ShoppingFeed_Manager::main" title="Shopping Feed" translate="title" sortOrder="100000">
                    <resource id="ShoppingFeed_Manager::accounts" title="Accounts" translate="title" sortOrder="10000">
                        <resource id="ShoppingFeed_Manager::account_create_existing" title="Create Existing Account" translate="title" sortOrder="10000"/>
                        <!--<resource id="ShoppingFeed_Manager::account_create_unexisting" title="Create New Account" translate="title" sortOrder="20000"/>-->
                        <resource id="ShoppingFeed_Manager::account_delete" title="Delete Account" translate="title" sortOrder="30000"/>
                    </resource>

                    <resource id="ShoppingFeed_Manager::account_stores" title="Stores" translate="title" sortOrder="20000">
                        <resource id="ShoppingFeed_Manager::account_store_create_existing" title="Create Existing Account Store" translate="title" sortOrder="10000"/>
                        <resource id="ShoppingFeed_Manager::account_store_edit" title="Edit Account Store" translate="title" sortOrder="20000"/>
                        <resource id="ShoppingFeed_Manager::account_store_delete" title="Delete Account Store" translate="title" sortOrder="30000"/>
                    </resource>

                    <resource id="ShoppingFeed_Manager::shipping_method_rules" title="Shipping Method Rules" translate="title" sortOrder="30000">
                        <resource id="ShoppingFeed_Manager::shipping_method_rule_edit" title="Edit Shipping Method Rule" translate="title" sortOrder="10000"/>
                        <resource id="ShoppingFeed_Manager::shipping_method_rule_delete" title="Delete Shipping Method Rule" translate="title" sortOrder="20000"/>
                    </resource>

                    <resource id="ShoppingFeed_Manager::marketplace_orders" title="Marketplace Orders" translate="title" sortOrder="40000">
                        <resource id="ShoppingFeed_Manager::marketplace_order_reset_import_try_count" title="Reset Import Attempts" translate="title" sortOrder="10000"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
