<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Observer\SubmitObserver">
        <plugin name="sfm_quote_submit_observer_plugin" type="ShoppingFeed\Manager\Plugin\Quote\Observer\SubmitObserverPlugin" sortOrder="0"/>
    </type>
</config>
