<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Notification\MessageList">
        <arguments>
            <argument name="messages" xsi:type="array">
                <item name="sfm_unread_marketplace_order_logs" xsi:type="string">ShoppingFeed\Manager\Model\Marketplace\Order\Notification\UnreadLogs</item>
                <item name="sfm_unimported_marketplace_orders" xsi:type="string">ShoppingFeed\Manager\Model\Marketplace\Order\Notification\UnimportedOrders</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="ShoppingFeed\Manager\Block\Adminhtml\Account\Store\Edit\CreateUnexistingFormButton" type="ShoppingFeed\Manager\Block\Adminhtml\Base\LinkButton">
        <arguments>
            <argument name="aclResource" xsi:type="string">ShoppingFeed_Manager::account_store_create_unexisting</argument>
            <argument name="name" xsi:type="string">create_unexisting</argument>
            <argument name="label" xsi:type="string">Create an Account</argument>
            <argument name="urlRoute" xsi:type="string">*/*/create_form_unexisting</argument>
        </arguments>
    </virtualType>

    <virtualType name="ShoppingFeed\Manager\Block\Adminhtml\Account\Store\Edit\CreateExistingFormButton" type="ShoppingFeed\Manager\Block\Adminhtml\Base\LinkButton">
        <arguments>
            <argument name="aclResource" xsi:type="string">ShoppingFeed_Manager::account_store_create_existing</argument>
            <argument name="name" xsi:type="string">create_existing</argument>
            <argument name="label" xsi:type="string">Import an Account</argument>
            <argument name="urlRoute" xsi:type="string">*/*/create_form_existing</argument>
        </arguments>
    </virtualType>

    <virtualType name="ShoppingFeed\Manager\Block\Adminhtml\Account\Store\Edit\CreateButton" type="ShoppingFeed\Manager\Block\Adminhtml\Base\Edit\SaveButton">
        <arguments>
            <argument name="label" xsi:type="string">Create Account</argument>
        </arguments>
    </virtualType>

    <virtualType name="ShoppingFeed\Manager\Block\Adminhtml\Account\Store\Edit\ImportButton" type="ShoppingFeed\Manager\Block\Adminhtml\Base\Edit\SaveButton">
        <arguments>
            <argument name="label" xsi:type="string">Import Account</argument>
        </arguments>
    </virtualType>

    <virtualType name="ShoppingFeed\Manager\Block\Adminhtml\Account\Store\Edit\SaveButton" type="ShoppingFeed\Manager\Block\Adminhtml\Base\Edit\SaveButton">
        <arguments>
            <argument name="label" xsi:type="string">Save Account</argument>
        </arguments>
    </virtualType>

    <virtualType name="ShoppingFeed\Manager\Block\Adminhtml\Account\Token\UpdateButton" type="ShoppingFeed\Manager\Block\Adminhtml\Base\Edit\SaveButton">
        <arguments>
            <argument name="label" xsi:type="string">Update Token</argument>
        </arguments>
    </virtualType>

    <virtualType name="ShoppingFeed\Manager\Block\Adminhtml\Marketplace\Order\FetchFormButton" type="ShoppingFeed\Manager\Block\Adminhtml\Base\LinkButton">
        <arguments>
            <argument name="aclResource" xsi:type="string">ShoppingFeed_Manager::marketplace_order_fetch</argument>
            <argument name="name" xsi:type="string">fetch</argument>
            <argument name="label" xsi:type="string">Fetch an Order</argument>
            <argument name="urlRoute" xsi:type="string">*/*/fetch_form</argument>
        </arguments>
    </virtualType>

    <virtualType name="ShoppingFeed\Manager\Block\Adminhtml\Marketplace\Order\FetchButton" type="ShoppingFeed\Manager\Block\Adminhtml\Base\Edit\SaveButton">
        <arguments>
            <argument name="label" xsi:type="string">Fetch Order</argument>
        </arguments>
    </virtualType>

    <virtualType name="ShoppingFeed\Manager\Block\Adminhtml\Cron\Task\CreateFormButton" type="ShoppingFeed\Manager\Block\Adminhtml\Base\LinkButton">
        <arguments>
            <argument name="name" xsi:type="string">create</argument>
            <argument name="label" xsi:type="string">Add New Task</argument>
            <argument name="urlRoute" xsi:type="string">*/*/create</argument>
        </arguments>
    </virtualType>

    <virtualType name="ShoppingFeed\Manager\Block\Adminhtml\Cron\Task\Edit\SaveButton" type="ShoppingFeed\Manager\Block\Adminhtml\Base\Edit\SaveButton">
        <arguments>
            <argument name="label" xsi:type="string">Save Task</argument>
        </arguments>
    </virtualType>

    <virtualType name="ShoppingFeed\Manager\Block\Adminhtml\Shipping\Method\Rule\CreateFormButton" type="ShoppingFeed\Manager\Block\Adminhtml\Base\LinkButton">
        <arguments>
            <argument name="name" xsi:type="string">create</argument>
            <argument name="label" xsi:type="string">Add New Rule</argument>
            <argument name="urlRoute" xsi:type="string">*/*/create</argument>
        </arguments>
    </virtualType>

    <virtualType name="ShoppingFeed\Manager\Block\Adminhtml\Shipping\Method\Rule\Edit\SaveButton" type="ShoppingFeed\Manager\Block\Adminhtml\Base\Edit\SaveButton">
        <arguments>
            <argument name="label" xsi:type="string">Save Rule</argument>
        </arguments>
    </virtualType>

    <virtualType name="ShoppingFeed\Manager\Ui\Component\Listing\Column\Account\Store\BaseStore" type="Magento\Store\Ui\Component\Listing\Column\Store">
        <arguments>
            <argument name="storeKey" xsi:type="string">base_store_id</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="sfm-shopping-feed-attributes" xsi:type="array">
                    <item name="class" xsi:type="string">ShoppingFeed\Manager\Ui\DataProvider\Catalog\Product\Form\Modifier\FeedAttributes</item>
                    <item name="sortOrder" xsi:type="number">1000000</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="ShoppingFeed\Manager\Plugin\Sales\Order\Grid\CollectionPlugin" shared="true"/>
    <type name="ShoppingFeed\Manager\Plugin\Sales\Order\Grid\FulltextFilterPlugin" shared="true"/>

    <type name="Magento\Sales\Model\ResourceModel\Order\Grid\Collection">
        <plugin name="sfm_sales_order_grid_collection_plugin" type="ShoppingFeed\Manager\Plugin\Sales\Order\Grid\CollectionPlugin" sortOrder="0"/>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <plugin name="sfm_ui_component_data_provider_filter_pool_plugin" type="ShoppingFeed\Manager\Plugin\UiComponent\DataProvider\FilterPoolPlugin" sortOrder="0"/>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter">
        <plugin name="sfm_sales_order_grid_fulltext_filter_plugin" type="ShoppingFeed\Manager\Plugin\Sales\Order\Grid\FulltextFilterPlugin" sortOrder="0"/>
    </type>

    <type name="Magento\Sales\Block\Adminhtml\Order\View\Info">
        <plugin name="sfm_sales_order_view_info_block_plugin" type="ShoppingFeed\Manager\Plugin\Sales\Order\View\InfoBlockPlugin" sortOrder="0"/>
    </type>
</config>
