<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="sfm_save_product_attributes" instance="ShoppingFeed\Manager\Observer\SaveProductAttributesObserver"/>
    </event>
</config>
